<h1>Busca de consulta por Nome</h1>
    <hr>
    <form action="/resultadoconsulta/" method="post">
        
            <input type="text" name="consulta" id="id" placeholder="Digite o nome do consulta">
              
        <input type="submit" value="Buscar">
    </form>


